html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root {
  --blue: #0061f2;
  --indigo: #5800e8;
  --purple: #6900c7;
  --pink: #e30059;
  --red: #e81500;
  --orange: #f76400;
  --yellow: #f4a100;
  --green: #00ac69;
  --teal: #00ba94;
  --cyan: #00cfd5;
  --white: #fff;
  --gray: #687281;
  --gray-dark: #323f52;
  --primary: #0061f2;
  --secondary: #6900c7;
  --success: #00ac69;
  --info: #00cfd5;
  --warning: #f4a100;
  --danger: #e81500;
  --light: #eff3f9;
  --dark: #1f2d41;
  --black: #000;
  --white: #fff;
  --red: #e81500;
  --orange: #f76400;
  --yellow: #f4a100;
  --green: #00ac69;
  --teal: #00ba94;
  --cyan: #00cfd5;
  --blue: #0061f2;
  --indigo: #5800e8;
  --purple: #6900c7;
  --pink: #e30059;
  --red-soft: #eec7c7;
  --orange-soft: #f1d6c7;
  --yellow-soft: #f0e3c7;
  --green-soft: #bfe5dc;
  --teal-soft: #bfe8e5;
  --cyan-soft: #bfecf2;
  --blue-soft: #bfd6f8;
  --indigo-soft: #d1c2f6;
  --purple-soft: #d4c2ef;
  --pink-soft: #edc2d9;
  --primary-soft: #bfd6f8;
  --secondary-soft: #d4c2ef;
  --success-soft: #bfe5dc;
  --info-soft: #bfecf2;
  --warning-soft: #f0e3c7;
  --danger-soft: #eec7c7;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Metropolis", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}